# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Virtual environments
venv/
env/
ENV/

# Django migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.log
db.sqlite3

# Media and static files (if generated locally)
media/
staticfiles/

.env
